
  
.stylotexto{
    font-family: sans-serif; 
    font-size: 15px; 
    text-align: justify;
}

.corpo{
    
    text-align: justify center;
    margin-right: 5cm;
    margin-left: 5cm;
    
}
.paragrafo{
    text-indent:180px;
}
.titulo{
    font-weight: bold;
    font-size: 250%;
    text-align: center;
    
}
.subtitulo{
    font-weight: bold;
    font-size: 150%;
    margin-left: 4cm;
}




  